<div class='form-box span4 offset3'>
  <h3>
    Hey,  
    <%= @meal_offer_search.user.full_name %>
  </h3>

  You're going to:<br>

  <%= @meal_offer_search.restaurant.name %><br><br>

  <% if @meal_offer_search.selected_meal_id %>
    You've selected:<br>
    <%= @meal_offer_search.selected_meal.dish %>
    <br><br>
  <% end %>

  <% @offers.each do |offer| %>
    <%= simple_form_for @meal_offer_search do |f| %>
      <%= f.hidden_field :selected_meal_id, value: offer.id %>
      <%= f.submit "Pick #{offer.dish}", :class => "btn btn-success" %>
    <% end %>
  <% end %>

<div>