<div id="restaurant_name"> <h1> Welcome to <%= @restaurant.name %> </h1> </div><br>
<section class="row">
  <div class="span4 form-box">
    <ul class="thumbnails">
      <li class="span4">
        <div class="">
          <!-- <img data-src="holder.js/300x200" alt="">   Change from img to div tag and insert 300x200px image there-->
          <%= image_tag "image_4.jpg" %>
          <h3>Meal Option 1</h3> <!-- Change to a instance variable @meal which contains the menu_item.name  -->
          <p><small>Yummy Yummy for your empty Tummy!!!</small></p><br>

          <!--  -->
          <!--  -->
          <!--  -->
          <!--  -->
          <!-- change root_path to restaurant_menu_item_path(@restaurant, @item1_id) VV BELOW!! -->
          <%= simple_form_for [@restaurant, @item1] do |f| %>
          <%= f.hidden_field :selected, value: true %>
          <%= f.submit "Choose ME!" %>
          <% end %>
          <%# link_to "Choose Me!", restaurant_menu_item_path(@restaurant, @item1_id), :method => :post, :class => "btn btn-success" %>
        </div>
      </li>
    </ul>
  </div>

  <div class="span4 offset2 form-box">
    <ul class="thumbnails">
      <li class="span4">
        <div class="">
          <!-- <img data-src="holder.js/300x200" alt=""> Change from img to div tag and insert 300x200px image there -->
          <%= image_tag "image_4.jpg" %>
          <h3>Meal Option 2</h3> <!-- Change to a instance variable @meal which contains the menu_item.name  -->
          <p><small>Yummy Yummy for your empty Tummy!!!</small></p><br>

          <!--  -->
          <!--  -->
          <!--  --> 
          <!--  -->
          <!-- change root_path to restaurant_menu_item_path(@restaurant, @item2_id) VV BELOW!! -->
          <%# link_to "NO Choose Me!", restaurant_menu_item_path(@restaurant, @item2_id), :controller => :meals_controller, :action => :create, :method => :post, :class => "btn btn-success" %>
        </div>
      </li>
    </ul>
  </div>
</section>