<!DOCTYPE html>
<html>
<head>
  <title>Mystery Meals</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class='yummy-pic'>
    <div class="navbar navbar-fixed-bottom">
      <div class="navbar-inner">
      <ul class="nav">
        <a class="brand" href='/'>Mystery Meals</a>
        <% if current_user %>
          <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
          <li><%= link_to 'Get Some Eats', new_meal_offer_search_path %></li>
        <% else %>
          <li><%= link_to 'Sign Up', new_user_registration_path %></li>
          <li><%= link_to 'Sign In', new_user_session_path %></li>
        <% end %>
        <% if current_user.try(:admin?) %>
          <li><%= link_to 'Backend', rails_admin_path %></li>
        <% end %>
      </ul>
      </div>
    </div>

<div class="container">
<p class="notice"><%= notice %></p> 
<p class="alert"><%= alert %></p> 
  <%= yield %>
</div>
</div>
</body>
</html>
